.Dice {
       display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;

        width: auto;
    margin: 50px auto;
}